<%- include('partials/header') %>
<form action="/comments" method="POST">
    <br>
    <br>
    <br>
    <br>
    <br>
    <input type="text" placeholder="username" name="username">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <textarea rows="20" cols="100" type="text" placeholder="description" name="body"></textarea>
    <button>ADD COMMENT!</button>
</form>
<%- include('partials/footer') %>
